/* Body styles */
body {
  font-family: 'Proxima Nova', 'Calibri', 'Helvetica Neue', 'Helvetica,' Arial, sans-serif;
  font-size: 100%;
}

.container {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
    padding: 40px 0;
}

a, a:hover, a:active, a:visited {text-decoration: none; font-weight: normal;}
