/**
 * Elyse theme!
 * Author: Elyse Holladay
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
@import "source/fonts.css";
// ---------------------------------------------


// Colors
$fuschia: darken(#C2185B,5%);
$purple: #904098;
$turquoise: #3b8aa2;
$blue: #0f59b4;
$orange: #f19732;
$green: #5b8138;
$black: #000;
$grey: #bbb;
$white: #fff;
$bouquet: #b37399;
$hopbush: #c69;
$wafer: #e1d7d2;

.reveal [class^=color-sample-] {
    width: 175px;
    height: 175px;
    display: inline-block;
    color: $white;
    padding: 15px 0 0 15px;
    margin: 0 30px 30px 0;
    font-size: 22px;
}

// Backgrounds
$backgroundColor: $purple;

// Primary/body text
$mainFont: 'pluto-sans-condensed-exlight', Impact, sans-serif;
$mainFontSize: 36px;
$mainColor: $white;

// Headings
$headingFont: 'PlutoSansExtraLight', 'PlutoSansRegular', 'pluto-sans-condensed-medium', Impact, sans-serif;
$headingBold: 'PlutoSansRegular', Impact, sans-serif;
$headingColor: $white;
$headingLineHeight: 150%;
$headingLetterSpacing: 0;
$headingTextTransform: none;
// $headingTextShadow: 0px 0px 6px rgba(0,0,0,0.2);
$headingTextShadow: none;
$heading1TextShadow: $headingTextShadow;

// Links and actions
// $linkColor: lighten($fuschia,45%);
$linkColor: transparentize($white,.5);
$linkColorHover: $white;

// Text selection
$selectionBackgroundColor: $turquoise;
$selectionColor: $white;

$codeFont: 'Fira Mono', 'Inconsolata', 'Menlo', monoscaped;

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------


// Backgrounds
// use by adding data-state="fuschia" to a section in index.html
.fuschia body { background-color: $fuschia; }
.purple body { background-color: $purple; }
.turquoise body { background-color: $turquoise; }
.blue body { background-color: $blue; }
.navy body { background-color: #002451; }
.orange body { background-color: $orange; }
.green body { background-color: $green; }
.black body { background-color: $black; }
.white body { background-color: $white; }

// Overriding text styles

.reveal .slides {text-align: left;}

.reveal h1 {
    font-size: 1.75em;
    line-height: 1.2;
    text-transform: uppercase;
    font-family: $headingBold;
}
.reveal h2,
.reveal h3,
.reveal h4 {
    font-size: 1.35em;
}

.reveal h2 {
    font-family: $headingBold;
    text-transform: uppercase;
}

.reveal h5 {
    font-size: 1em;
}

.reveal h6 {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: transparentize($white,.5);
    font-family: $headingBold;
}

.reveal p {
    font-size: 1em;
}

.reveal code,
.reveal p code {
    font-family: $codeFont;
    text-transform: lowercase;
}

.reveal li {
    line-height: 170%;
}

.reveal p.quote {
    font-size: 1.25em;
    line-height: 160%;
}


// slide backgrounds


.sass-terminal body {
    background: url('/images/sass-terminal.jpg') no-repeat 0 -22px;
    p {color: $white;}
}

.codekit body {
    background: url('/images/codekit.png') no-repeat 0 -22px;
    background-size: cover;
}

.foundation-sass body {
    background: url('/images/foundation-sass.png') no-repeat 0 -22px;
    background-size: cover;
}

.bootstrap-sass body {
    background: url('/images/bootstrap-sass.png') no-repeat 0 -22px;
    background-size: cover;
}

.compass body {
    background: #2F2F2F url('/images/compass-logo.png') no-repeat center center;
}
.libsass body {
    background: #5e5e5e url('/images/libsass-logo.png') no-repeat center center;
}

.node-sass body {
    background: #fff url('/images/node-sass.svg') no-repeat center center;
}

.sass-maps body {
    background: url('/images/una-sass-maps.png') no-repeat 0 -100px;
    background-size: cover;
}

.reveal h2.wrong {
    font-size: 120px;
    color: red;
}

.fontsizes body {
    background: url('/images/fontsizes.png') no-repeat 0 -15px;
}

.dale-sande body {
    background: url('/images/dale-sande-sassconf.png') no-repeat 0 0;
    background-size: cover;
}

.badcomputer body {
    background: url('/images/gifs/badcomputer.gif') no-repeat center center;
    background-size: cover;
}

.comments body {
    background: url('/images/comments.png') no-repeat 0 -15px;
}

.importcomments body {
    background: url('/images/importcomments.png') no-repeat 0 -15px;
}


// GIFs

.gifs body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    h1, h2, h3, h4, h5, h6, p {
        color: $white;
    }
}

.prototyping body {
    background-image: url('/images/gifs/cody-wireframe-animation.gif');
    background-position: 0 -120px;
}

.meridaugh body {
    background-image: url('/images/gifs/meridaugh.gif');
}

.sciencedino body {
    background-image: url('/images/gifs/sciencedino.gif');
}
