/* Rooney Light */
/* to include use 'font-face: "RooneyLight", [rest of font stack for fallback];' */
/* apply this font stack to body declaration */
@font-face {
  font-family: "RooneyLight";
  src: url('fonts/RooneyLight.eot');
  src: url('fonts/RooneyLight.eot?#iefix') format('embedded-opentype'),
       url('fonts/RooneyLight.woff') format('woff'),
       url('fonts/RooneyLight.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Rooney Light Italic */
/* to include use 'font-face: "RooneyLightItalic", [rest of font stack for fallback];' */
/* apply this font stack to em, i declaration for italic use */
@font-face {
  font-family: "RooneyLightItalic";
  src: url('fonts/RooneyLightItalic.eot');
  src: url('fonts/RooneyLightItalic.eot?#iefix') format('embedded-opentype'),
       url('fonts/RooneyLightItalic.woff') format('woff'),
       url('fonts/RooneyLightItalic.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Rooney Medium */
/* to include use 'font-face: "RooneyMedium", [rest of font stack for fallback];' */
/* apply this font stack to h2-h6 for headlines. use Centrale Sans for h1 */
@font-face {
  font-family: "RooneyMedium";
  src: url('fonts/RooneyMedium.eot');
  src: url('fonts/RooneyMedium.eot?#iefix') format('embedded-opentype'),
       url('fonts/RooneyMedium.woff') format('woff'),
       url('fonts/RooneyMedium.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Rooney Medium Italic */
/* to include use 'font-face: "RooneyMediumItalic", [rest of font stack for fallback];' */
/* apply if necessary where a headline may be italicized */
@font-face {
  font-family: "RooneyMediumItalic";
  src: url('fonts/RooneyMediumItalic.eot');
  src: url('fonts/RooneyMediumItalic.eot?#iefix') format('embedded-opentype'),
       url('fonts/RooneyMediumItalic.woff') format('woff'),
       url('fonts/RooneyMediumItalic.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}




@font-face {
    font-family: 'pluto-sans-condensed-medium';
    src: url('fonts/pluto-sans-condensed-medium.eot');
    src: url('fonts/pluto-sans-condensed-medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/pluto-sans-condensed-medium.woff') format('woff'),
         url('fonts/pluto-sans-condensed-medium.ttf') format('truetype'),
         url('fonts/pluto-sans-condensed-medium.svg#pluto-sans-condensed-medium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pluto-sans-condensed-regular';
    src: url('fonts/pluto-sans-condensed-regular.eot');
    src: url('fonts/pluto-sans-condensed-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/pluto-sans-condensed-regular.woff') format('woff'),
         url('fonts/pluto-sans-condensed-regular.ttf') format('truetype'),
         url('fonts/pluto-sans-condensed-regular.svg#pluto-sans-condensed-regular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'pluto-sans-condensed-light';
    src: url('fonts/pluto-sans-condensed-light.eot');
    src: url('fonts/pluto-sans-condensed-light.eot?#iefix') format('embedded-opentype'),
         url('fonts/pluto-sans-condensed-light.woff') format('woff'),
         url('fonts/pluto-sans-condensed-light.ttf') format('truetype'),
         url('fonts/pluto-sans-condensed-light.svg#pluto-sans-condensed-light') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'pluto-sans-condensed-exlight';
    src: url('fonts/pluto-sans-condensed-exlight.eot');
    src: url('fonts/pluto-sans-condensed-exlight.eot?#iefix') format('embedded-opentype'),
         url('fonts/pluto-sans-condensed-exlight.woff') format('woff'),
         url('fonts/pluto-sans-condensed-exlight.ttf') format('truetype'),
         url('fonts/pluto-sans-condensed-exlight.svg#pluto-sans-condensed-exlight') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'pluto-sans-condensed-thin';
    src: url('fonts/pluto-sans-condensed-thin.eot');
    src: url('fonts/pluto-sans-condensed-thin.eot?#iefix') format('embedded-opentype'),
         url('fonts/pluto-sans-condensed-thin.woff') format('woff'),
         url('fonts/pluto-sans-condensed-thin.ttf') format('truetype'),
         url('fonts/pluto-sans-condensed-thin.svg#pluto-sans-condensed-thin') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'PlutoSansExtraLight';
    src: url('http://elyseholladay.com/fonts/plutosans_exlight.eot');
    src: url('http://elyseholladay.com/fonts/plutosans_exlight.eot?#iefix') format('embedded-opentype'),
         url('http://elyseholladay.com/fonts/plutosans_exlight.woff') format('woff'),
         url('http://elyseholladay.com/fonts/plutosans_exlight.ttf') format('truetype'),
         url('http://elyseholladay.com/fonts/plutosans_exlight.svg#PlutoSansExtraLight') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'PlutoSansRegular';
    src: url('http://elyseholladay.com/fonts/plutosans_regular.eot');
    src: url('http://elyseholladay.com/fonts/plutosans_regular.eot?#iefix') format('embedded-opentype'),
         url('http://elyseholladay.com/fonts/plutosans_regular.woff') format('woff'),
         url('http://elyseholladay.com/fonts/plutosans_regular.ttf') format('truetype'),
         url('http://elyseholladay.com/fonts/plutosans_regular.svg#PlutoSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PlutoSansBold';
    src: url('http://elyseholladay.com/fonts/plutosans_bold.eot');
    src: url('http://elyseholladay.com/fonts/plutosans_bold.eot?#iefix') format('embedded-opentype'),
         url('http://elyseholladay.com/fonts/plutosans_bold.woff') format('woff'),
         url('http://elyseholladay.com/fonts/plutosans_bold.ttf') format('truetype'),
         url('http://elyseholladay.com/fonts/plutosans_bold.svg#PlutoSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

