
@font-face {
    font-family: 'pluto-sans-condensed-exlight';
    src: url('fonts/pluto-sans-condensed-exlight.eot');
    src: url('fonts/pluto-sans-condensed-exlight.eot?#iefix') format('embedded-opentype'),
         url('fonts/pluto-sans-condensed-exlight.woff') format('woff'),
         url('fonts/pluto-sans-condensed-exlight.ttf') format('truetype'),
         url('fonts/pluto-sans-condensed-exlight.svg#pluto-sans-condensed-exlight') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'PlutoSansExtraLight';
    src: url('fonts/pluto-sans-extralight.eot');
    src: url('fonts/pluto-sans-extralight.eot?#iefix') format('embedded-opentype'),
         url('fonts/pluto-sans-extralight.woff') format('woff'),
         url('fonts/pluto-sans-extralight.ttf') format('truetype'),
         url('fonts/pluto-sans-extralight.svg#PlutoSansExtraLight') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'PlutoSansRegular';
    src: url('fonts/pluto-sans-regular.eot');
    src: url('fonts/pluto-sans-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/pluto-sans-regular.woff') format('woff'),
         url('fonts/pluto-sans-regular.ttf') format('truetype'),
         url('fonts/pluto-sans-regular.svg#PlutoSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
