// ------------------------------------------------------------ //
// BUTTONS MODULE --------------------------------------------- //
// ------------------------------------------------------------ //

// Copy over new, clean button SCSS into this file. Call it from
// buttons.html to see if it's working—leave the old one commented
// out so you can toggle them and make sure everything looks right.





// Step 3 A --------------------------------------------------- //
// Button Base Class
// .button {
//     display: inline-block; // all buttons line up together
//     padding: 18px 24px; // padding so there's plenty of room around text, more consistent/safe way to determine size
//     margin-right: 10px; // never bump against another button
//     color: #fff; // always have a text color
//     background-color: #ccc; // always have a background color
//     text-transform: uppercase; // always uppercase
//     font-size: 24px; // most buttons have this font size, use it as a base/fallback
//     font-weight: bold; // all buttons are bold
//     border-radius: 4px; // border radius for all buttons
// }

// .button:hover {
//     font-weight: bold; // add this so the link styles don't screw with it
// }






// Step 3 B --------------------------------------------------- //
// Button Base Extend
// %button {
//     display: inline-block; // all buttons line up together
//     padding: 18px 24px; // padding so there's plenty of room around text, more consistent/safe way to determine size
//     margin-right: 10px; // never bump against another button
//     color: #fff; // always have a text color
//     background-color: #ccc; // always have a background color
//     text-transform: uppercase; // always uppercase
//     font-size: 24px; // most buttons have this font size, use it as a base/fallback
//     font-weight: bold; // all buttons are bold
//     border-radius: 4px; // border radius for all buttons
// }

// %button:hover {
//     font-weight: bold; // add this so the link styles don't screw with it
// }

// Old classes with extend
// .save_button {
//     @extend %button;
// }

// .sign_up_button {
//     @extend %button;
// }

// .button-edit {
//     @extend %button;
// }

// .button-disabled {
//     @extend %button;
// }

// .button_delete {
//     @extend %button;
// }

// .cancel_button_link {
//     @extend %button;
// }






// Step 3 C --------------------------------------------------- //
// Button Base Extend with Unique Styles
// %button {
//     display: inline-block; // all buttons line up together
//     padding: 18px 24px; // padding so there's plenty of room around text, more consistent/safe way to determine size
//     margin-right: 10px; // never bump against another button
//     color: #fff; // always have a text color
//     background-color: #ccc; // always have a background color
//     text-transform: uppercase; // always uppercase
//     font-size: 24px; // most buttons have this font size, use it as a base/fallback
//     font-weight: bold; // all buttons are bold
//     border-radius: 4px; // border radius for all buttons
// }

// %button:hover {
//     font-weight: bold; // add this so the link styles don't screw with it
// }

// Old classes with extend
// .save_button {
//     @extend %button;
//     color: #c6eff0;
//     background-color: #2ba2a6;
//     box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.125);
//     border-right: 1px solid #217a7d;
//     border-bottom: 1px solid #217a7d;
//     text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
// }

//     .save_button:hover {
//         background: #217A7D;
//     }

// .sign_up_button {
//     @extend %button;
//     background: #237cbe;
//     box-shadow: 0px 8px 0px 0px rgba(35, 124, 190, 0.25);
//     border: 1px solid #1b6093;
//     text-shadow: 0px 1px 1px #0b283d;
//     font-size: 2em;
// }

// .sign_up_button:hover,
// .sign_up_button:focus,
// .sign_up_button:active {
//     background: #1B6093;
//     border-color: #0B283D;
// }

// .button-edit {
//     @extend %button;
//     color: #d579cc;
//     background-color: #993399;
//     box-shadow: 0px 8px 0px 0px rgba(153, 51, 153, 0.25);
//     border-right: 1px solid #732673;
//     border-bottom: 1px solid #732673;
//     text-shadow: 0px 1px 1px #260d26;
// }

//     .button_edit:hover {
//         background: #732673;
//     }


// .button-disabled {
//     @extend %button;
//     color: #888;
//     background-color: #ccc;
//     cursor: default;
// }

// .button_delete {
//     @extend %button;
//     background-color: #e6475b;
//     box-shadow: 0px 8px 0px 0px rgba(230, 71, 91, 0.25);
//     border-right: 1px solid #dc1e36;
//     border-bottom: 1px solid #dc1e36;
//     text-shadow: 0px 1px 1px #821220;
// }

// .cancel_button_link {
//     @extend %button;
//     // remove %button styles as necessary
//     padding: 0;
//     border: 0;
//     background: 0;
//     border-radius: 0;
//     cursor: pointer;
//     color: black;
//     font-size: .8em;
//     text-transform: capitalize;
// }

// .cancel_button_link:hover {
//     color: grey;
// }





// Step 4 ----------------------------------------------------- //
// Button Base Extend with Nesting applied
%button {
    display: inline-block; // all buttons line up together
    padding: 18px 24px; // padding so there's plenty of room around text, more consistent/safe way to determine size
    margin-right: 10px; // never bump against another button
    color: #fff; // always have a text color
    background-color: #ccc; // always have a background color
    text-transform: uppercase; // always uppercase
    font-size: 24px; // most buttons have this font size, use it as a base/fallback
    font-weight: bold; // all buttons are bold
    border-radius: 4px; // border radius for all buttons
    &:hover,
    &:focus {
        font-weight: bold; // add this so the link styles don't screw with it
    }
    &:active,
    &:visited {}
}

// Old classes with extend
.save_button {
    @extend %button;
    color: #c6eff0;
    background-color: #2ba2a6;
    box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.125);
    border-right: 1px solid #217a7d;
    border-bottom: 1px solid #217a7d;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

    .save_button:hover {
        background: #217A7D;
    }

.sign_up_button {
    @extend %button;
    background: #237cbe;
    box-shadow: 0px 8px 0px 0px rgba(35, 124, 190, 0.25);
    border: 1px solid #1b6093;
    text-shadow: 0px 1px 1px #0b283d;
    font-size: 2em;
}

.sign_up_button:hover,
.sign_up_button:focus,
.sign_up_button:active {
    background: #1B6093;
    border-color: #0B283D;
}

.button-edit {
    @extend %button;
    color: #d579cc;
    background-color: #993399;
    box-shadow: 0px 8px 0px 0px rgba(153, 51, 153, 0.25);
    border-right: 1px solid #732673;
    border-bottom: 1px solid #732673;
    text-shadow: 0px 1px 1px #260d26;
}

    .button_edit:hover {
        background: #732673;
    }


.button-disabled {
    @extend %button;
    color: #888;
    background-color: #ccc;
    cursor: default;
}

.button_delete {
    @extend %button;
    background-color: #e6475b;
    box-shadow: 0px 8px 0px 0px rgba(230, 71, 91, 0.25);
    border-right: 1px solid #dc1e36;
    border-bottom: 1px solid #dc1e36;
    text-shadow: 0px 1px 1px #821220;
}

.cancel_button_link {
    @extend %button;
    // remove %button styles as necessary
    padding: 0;
    border: 0;
    background: 0;
    border-radius: 0;
    cursor: pointer;
    color: black;
    font-size: .8em;
    text-transform: capitalize;
}

.cancel_button_link:hover {
    color: grey;
}

