// ------------------------------------------------------ //
// CONFIGURATION & SETTINGS ----------------------------- //
// ------------------------------------------------------ //
// In the config file you can edit colors, typography,
// and general default variables. Note that all variables
// have the !default flag this means that they can be
// overridden by variables later in the Sass workflow.
// This will allow us to create themes easily, if we
// choose.


// Font Sizing ------------------------------------------ //
// ------------------------------------------------------ //

// Base font size  -------------------------------------- //
// 16px is the browser default.

$base-font-size: 1em !default

// Font Sizes  ------------------------------------------ //

$giga: 4.5em !default
$alpha: 3.662em !default
$beta: 2.930em !default
$gamma: 1.875em !default
$delta: 1.5em !default
$epsilon: 1.2em !default
$zeta: .875em !default
$iota: .75rem !default

// Line Heights ----------------------------------------- //

$line-base: 1.5 !default
$line-large: 1.75 !default
$line-small: 1.25 !default

// Typography ------------------------------------------- //
// ------------------------------------------------------ //


// Body text -------------------------------------------- //

$body-fallback: 'Cambria', 'Lucida Bright', 'Georgia', serif

$body-font: 'adelle', $body-fallback !default
$body-bold: 'adelle-bold', $body-font !default
$body-italic: 'adelle-italic', $body-font !default


// Alternate Body text ---------------------------------- //

$body-font-alt-fallback: 'Geneva', 'Franklin Gothic', 'Calibri', 'Arial Narrow', 'Helvetica', sans-serif

$body-font-alt: 'pluto-sans-condensed-light', $body-font-alt-fallback !default
$body-font-alt-bold: 'pluto-sans-condensed-regular', $body-font-alt !default


// Headers ---------------------------------------------- //

$header-fallback: 'Geneva', 'Franklin Gothic', 'Calibri', 'Arial Narrow', 'Helvetica', sans-serif

$header-primary: 'pluto-sans-condensed-thin', $header-fallback !default
$header-secondary: $body-font !default
$header-secondary-bold: $body-bold !default
$header-tertiary: $body-font-alt-bold !default


// Navigation ------------------------------------------- //

$nav-font: 'pluto-sans-condensed-medium', $header-fallback !default


// Code Blocks  ----------------------------------------- //

$code-fallback: 'Inconsolata', 'Monaco', 'Consolas', monospace

$code-font: 'fira-mono', $code-fallback !default
$code-font-bold: 'fira-mono-medium', $code-font !default


// Buttons  --------------------------------------------- //

$button-font: 'pluto-sans-regular', $header-fallback !default


// Font Awesome  ---------------------------------------- //

$icon-font: 'font-awesome' !default


// Borders ---------------------------------------------- //
// ------------------------------------------------------ //

$border-width-default: 6px
$border-width-small: 2px
$border-width-link: 1px
$border-width-large: 12px

$border-radius-default: 4px
