// ------------------------------------------------------ //
// DEFAULT THEME ---------------------------------------- //
// ------------------------------------------------------ //


// Theme colors ----------------------------------------- //

$primary-color: $navy;
$secondary-color: $blue-bright;
$tertiary-color: $grey-dark;
$highlight-color: $green;


// Text, Link, and Header colors ------------------------ //

$text-color: $black;
$text-color-sub: $grey;
$text-color-reverse: $off-white;

$header-color-primary: $navy;
$header-color-secondary: $blue-bright;
$header-color-tertiary: $blue-dark;

$link-color: $secondary-color;
$link-color-hover: $highlight-color;


// Background colors ------------------------------------ //

$background-color-default: $white;
$background-color-light: $off-white;
$background-color-dark: $navy;
$background-color-standout: $blue-bright;


// Button colors ---------------------------------------- //

$button-bg: $green;
$button-color: $white;
$button-bg-hover: $green-dark;
$button-color-hover: $white;
