// Transitions ------------------------------------------ //
// ------------------------------------------------------ //
// to use, apply @include transition() with arguments
// type, time, and function
// ex: @include transition(color,0.5s,ease)

@mixin transition($type,$time,$function) {
    -webkit-transition: $type $time $function;
    -moz-transition: $type $time $function;
    -o-transition: $type $time $function;
    transition: $type $time $function;
}
