// PARENT SELECTOR EXAMPLES ------------------------------------------ //


// Parent Selector - Simple
// SCSS
.button {
    background: $red;
    &:hover { background: $blue; }
    &.is-active { background: $green; }
}

/* OUTPUT */
.button { background: red;}
.button:hover { background: blue;}
.button.is-active { background: green;}



// Parent Selector - Pre
// SCSS
.button {
    color: $white;
    .nav & { color: $black; }
}

/* OUTPUT */
.button { color: white; }
.nav .button { color: black; }



// Parent Selector - Conditional Classes example
// SCSS

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
    .wf-inactive &,
    .lt-ie9 & {
        font-family: $fallback-font;
    }
}

/* OUTPUT */
h1, h2 { font-family: "Adelle"; }

.wf-inactive h1, .lt-ie9 h1, .wf-inactive h2, .lt-ie9 h2 {
    font-family: "Cambria", "Georgia";
}
