// JS STATE CLASS EXAMPLES ------------------------------------------ //

// Buttons
.button {
    &.is-active { background: red; color: white; }
}

// Nav Links
.nav-link {
    &.is-active { color: green; }
}

/* OUTPUT */
.button.is-active {
    background: red;
    color: white;
}

.nav-link.is-active {
    color: green;
}
